@import "~bootstrap/scss/bootstrap";

.navbar{
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
  .resume{
    text-decoration: none;
    color: #ffffff80;
  }
  .resume:hover{
    color: #cccecf;
  }
}

.carousel{
  margin-top: 56px;
  .carousel-item{
    height: 15rem;
  }
}

.projects-title{
  background-color: #6c757d;
  color: #fff;
}

