@import "~bootstrap/scss/bootstrap";

html{
  scroll-behavior: smooth;
}

body{
  min-width: 320px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
  .resume{
    text-decoration: none;
    color: #ffffff80;
  }
  .resume:hover{
    color: #cccecf;
  }
}

.carousel{
  margin-top: 56px;
  .carousel-item{
    img{
      height: 60vh;
    }
    .carousel-caption{
      color: #000;
      font-weight: 500;
      font-size: 20px;
    }
  }
  .background-carousel{
    opacity: 0.4;
    overflow: hidden;
  }
}

.projects-title{
  background-color: #6c757d;
  color: #cccecf;
}

.bootstrap-link{
  text-decoration: none;
  color: #ffffff80;
}
.bootstrap-link:hover{
  color: #cccecf;
}

@media only screen and (max-width: 500px) {
  .carousel-caption{
    padding-top: 0;
    h1{
      font-size: 27px;
    }
    p{
      font-size: 17px;
      a{
        font-size: 17px;
        padding: 4px;
      }
    }
  }
  footer{
    .nav-item{
      font-size: 9px;
    }
  }
}
